<!DOCTYPE html>
<html>
   <head>
      <title>Web of Videos</title>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
   </head>
   <body>
      <div class="main-content">
         <div class="padded">
            <div>
               <h1>Video Recommendation using Video Segment Content</h1>
               <h3>Please choose the video source:</h3>
               <span>Either choose between the UIUC text information playlists: </span>
               <button type="button" onclick="loadPart1Playlist()">Part 1</button>
               <button type="button" onclick="loadPart2Playlist()">Part 2</button>
               <form action="javascript:loadQuery(query.value)">
                  Or search videos:
                  <input type="text" name="query" id="query" maxlength="40">
                  <input type="submit" value="Search"> 
               </form>
               <!--button type="button">Part 1</button-->
               <!--button type="button">Part 2</button-->
            </div>
            <div class="padded">
               <br></br>
            </div>
            
            <div id="player"></div>
            </div>
            <div class="padded">
            </div>
            
         </div>
      <div class="sidebar">
         <div class="padded">
            <div id="sidebarLinks">
            </div>
         </div>
      </div>
   <script>
      // This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      tag.onload="iFrameResize()"
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      
	  var player;
	  
	  function onYouTubeIframeAPIReady() {
                
	     player = new YT.Player('player', {
		    height: '390',
    		width: '640',
		    playerVars :{
    		   listType : 'playlist',
               list: 'PLLssT5z_DsK8Jk8mpFc_RPzn2obhotfDO',
		       autoplay : 1
		    },
    		events: {
    		   'onReady': onPlayerReady,
    		   'onStateChange': onPlayerStateChange,
            },
         });
      }

      // load part 2 video
      function loadPart2Playlist() {
  	     player.loadPlaylist({listType: 'playlist',
                      	     list: 'PLLssT5z_DsK8Xwnh_0bjN4KNT81bekvtt',
                      	      index: 0});
  	     player.playVideo();
      }
      
      // load part 1 video
      function loadPart1Playlist() {
         player.loadPlaylist({listType: 'playlist',
                             list: 'PLLssT5z_DsK8Jk8mpFc_RPzn2obhotfDO',
                              index: 0
                              });
  	     player.playVideo();
      }
      
      function getId(url) {
         var regex = /https:\/\/www.youtube.com\/.*watch\?v=(.*).*/;
         var id = url.replace(regex, '$1');
         return id;
      }
      function loadQuery() {
         var txt = $("#query").val();
         query = JSON.stringify({"query" : txt});
         
          $.ajax({
            url: $SCRIPT_ROOT + '/searchVideos',
            type: 'POST',
            data: query,
            headers : {"Content-Type": "application/json"},
            success : function(result){  // on success get the return object from server
               topv = result.result.related_videos[0];
               topid = getId(topv.url);
               player.loadVideoById({'videoId' : topid
               
               });
               var $dict = $("<dl></dl>");
               for(var i = 0, len = result.result.related_videos.length; i < len; ++i) {
                  var curResult = result.result.related_videos[i];
                  $dict.append("<dt><a href='" + curResult.url + "'>" +
                      curResult.title + "</a></dt>" +
                    "<dd>" + curResult.description + "</dd>"
                  );
               }
               $("#sidebarLinks").html($dict);
            },
            error: function(error) {
               console.log("nothing returned");
               console.log(error);
            }
         });
      }
	  // The API will call this function when the video player is ready.
	  function onPlayerReady(event) {
	     event.target.playVideo();
	     updateRelatedVideos();
	  }

	  // 5. The API calls this function when the player's state changes.
	  //    The function indicates that when playing a video (state=1),
	  //    the player should play for six seconds and then stop.
	  
	  var prev_video_idx = -1;
	  var total_segments = 3;
	  var prev_segment_idx = -1;
	  var intervalVar;
	  var prev_video_id = "";

	  var videoInfo = {};
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; 
	  
	  // Get video progress represented as video segments
	  function getSegmentIdx(total_segments) {
	     var video_frac = player.getVideoLoadedFraction();
	     return Math.floor(total_segments * video_frac);
	  }
	  
	  // update similar videos based on the current playing video URL and playing progress
	  function updateRelatedVideos(total_segments) {
	     var segment_idx = getSegmentIdx(total_segments);
	     var video_idx = player.getPlaylistIndex();
         var url = player.getVideoUrl();
         var video_id =   getId(url);     	  
      
         if (segment_idx == prev_segment_idx & video_idx == prev_video_idx & video_id == prev_video_id) {
            return;
         }
         videoInfo = JSON.stringify({"url" : url, "segment_idx" : segment_idx, "total_segments" : total_segments});
         
         $.ajax({
            url: $SCRIPT_ROOT + '/getSimVideos',
            type: 'POST',
            data: videoInfo,
            headers : {"Content-Type": "application/json"},
            success : function(result){  // on success get the return object from server
               var $dict = $("<dl></dl>");
               for(var i = 0, len = result.result.related_videos.length; i < len; ++i) {
                  //var curResult = result.result[i];
                  var curResult = result.result.related_videos[i];
                  $dict.append("<dt><a href='" + curResult.url + "'>" +
                      curResult.title + "</a></dt>" +
                    "<dd>" + curResult.description + "</dd>"
                  );
               }
               $("#sidebarLinks").html($dict);
            },
            error: function(error) {
               console.log("nothing returned");
               console.log(error);
            }
         });
         prev_video_idx = video_idx;
         prev_segment_idx = segment_idx;
         prev_video_id = video_id;
      }
    
	  function onPlayerStateChange(event) {
	     if (event.data == YT.PlayerState.PLAYING) {
	        checkVideoLoadedFraction();
	     }
	     else {
	        stopChecking();
	     }
      }

      function checkVideoLoadedFraction() {
         intervalVar = setInterval(function() {
            updateRelatedVideos(total_segments);
         }, 1000);        
      }
     
      function stopChecking() {
         clearInterval(intervalVar);
      }



    </script>
  </body>
</html>